body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px; /* Add spacing between form fields */
}

h1, form, p {
  text-align: center;
}

button {
  margin-top: 10px;
  margin-bottom: 10px; /* Add spacing between buttons */
}
